/*
 * Keymap za desnu polovicu (handwire, Lily58-stil).
 *
 * NAPOMENA: keycode-ovi ispod odgovaraju STANDARDNIM US ANSI
 * pozicijama tipki (ne hrvatskim slovima na kapicama) - OS
 * (Windows/Linux) s postavljenim hrvatskim rasporedom tipkovnice
 * će te iste pozicije prikazati kao Š, Đ, Č, Ć, Ž itd. automatski.
 *
 * Ako nešto ne odgovara nakon testiranja, samo promijeni
 * odgovarajući KC_ ispod - ne treba dirati overlay/matricu.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS
                &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LBKT
                &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
                &kp N     &kp M     &kp COMMA &kp DOT   &kp SLASH &kp RSHFT
                                    &kp LEFT  &kp UP    &kp DOWN  &kp RIGHT
            >;
        };
    };
};
